:root
{
    --white: #edeff5;
    --black: #171820;
    --blue: #627fff;
}

body
{
    background: var(--blue);
    color: var(--black);
    margin: 0px;
    padding: 0px;
}

#hero
{
    width: 600px;
    height: 600px;
}

@media screen and (max-width: 599px)
{

}